* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#tab {
  overflow: hidden;
}

#tab li {
  background: #ccc;
  padding: 5px 25px;
  float: left;
  margin-right: 1px;
  cursor: pointer;
}

#tab li.select {
  background: #eee;
}

#content li {
  background: #eee;
  padding: 20px;
}

.hide {
  display: none;
}
