* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
#tabList{overflow:hidden;}
#tabList li{background:#ccc; padding:5px 25px; float:left; margin-right:1px;cursor: pointer;}
#tabList li.active{background:#eee;}
#tabBody li{display:none;background:#eee; padding:20px;}
#tabBody .active{display:block;}
